* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
body{
    background-image: url(./vid&pho/game1.jpg);
}
  .game {
    background-color: #293A54;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.5);
    text-align: center;
    margin: 100px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
  }
  span{
    color: #8a0909;
  }
.row{
  background-color: transparent;
  display: flex;
  justify-content: center;
}
  .square {
    width: 100px;
    height: 100px;
    background-color: #fff;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    font-size: 50px;
    font-weight: 500;
  }
  
  .square:hover {
    background-color: #0e0d0d;
  }
  

  footer{
    background:#293A54;
    padding-top: 50px;
    color: #fff;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    color: #f18930;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
    color: #fff;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
    color: #fff;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}